# Byte-compiled / optimized / DLL files
__pycache__/

# Environments
.venv

# Python Notebooks
notebook_qkd_universal.ipynb
notebook_grover_universal.ipynb
notebook_accuracy_params.ipynb
notebook_gate_complexity.ipynb
